<header class="fixed w-full z-10 top-0">
    
    <nav class="main-nav mx-auto flex absolute container-width  justify-between  pt-8 lg:pt-10 pb-6  px-6 md:px-16 lg:px-24 xl:px-24" aria-label="Global">
        <a href="{{ config.base_url }}" class="-m-1.5 lg:-ml-9 p-1.5">
            <span class="sr-only">{{ config.extra.site_logo_sr }}</span>
            {% if config.extra.site_logo_1 %}
            <span class=" inline-block">
                <img class="inline-block h-8 mb-2" src="{{ config.base_url ~ config.extra.site_logo_1 }}">
                <img class="inline-block h-8 mb-2" src="{{config.base_url ~ config.extra.site_logo_2 }}">
                <img class="inline-block h-8 mb-2" src="{{config.base_url ~ config.extra.site_logo_3 }}">
            </span> 
            {% else %}
            <img class="h-8 w-auto" src="{{ config.base_url ~ config.extra.site_logo }}" alt="{{ config.extra.site_logo_alt }}">
            {% endif %}
        </a>
        <div class="flex lg:hidden">
            <button type="button" popovertarget="global-menu" class="-m-2.5 text-base font-semibold inline-flex items-center justify-center rounded-md p-2.5 text-white hover:text-primary">
                <span class="sr-only">Open main menu</span>
                MENU
                <!--svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg-->
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            {% set root = get_section(path="_index.md") %}
            {% if root.pages %}
            {% for nav_page in root.pages %}
            {#- Filter pages not meant for main nav -#}
            {% if nav_page.extra.main_nav %}
            <a href="{% if current_url != nav_page.permalink %}{{ nav_page.permalink | safe }}{% else%}#{% endif %}" class="text-base leading-7 font-semibold {% if current_url == nav_page.permalink %}text-accent{% else%}text-white{% endif %} hover:text-primary">
                {{ nav_page.title }}
            </a>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if config.extra.header_cta -%}
            <a href="{{ config.base_url ~ config.extra.header_cta_href }}" class="text-sm leading-6 text-gray-900">
                {{ config.extra.header_cta }}
            </a>
            {%- endif %}
            <a href="{{config.base_url}}/news" class="text-base leading-7 font-semibold text-white hover:text-primary">News</a>
        </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div popover id="global-menu" class="bg-transparent" role="dialog" aria-modal="true">
        <div class="fixed flex flex-col items-center justify-center text-center inset-y-0 right-0 z-10 w-full overflow-y-auto bg-grey px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="absolute top-4 right-4">

                <button type="button" popovertarget="global-menu" class="-m-2.5 text-base font-semibold rounded-md p-2.5 text-gray-700">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="py-6">
                        {% set root = get_section(path="_index.md") %}
                        {% if root.pages %}
                        {% for nav_page in root.pages %}
                        {#- Filter pages not meant for main nav -#}
                        {% if nav_page.extra.main_nav %}
                        {% if current_url != nav_page.permalink %}
                        <a href="{{ nav_page.permalink | safe }}" class="-mx-3 block rounded-lg  px-4 py-3 text-base leading-7 font-semibold text-gray-900 hover:text-accent">
                            {{ nav_page.title }}
                        </a>
                        {% else%}
                        <a href="#" class="-mx-3 block rounded-lg  px-4 py-3 text-base leading-7 font-semibold text-accent">
                            {{ nav_page.title }}
                        </a>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <a href="{{config.base_url}}/news" class="-mx-3 block rounded-lg  px-4 py-3 text-base leading-7 font-semibold   {% if current_url == config.base_url~'/news' %}text-accent{% else%}text-gray-900 hover:text-accent{%endif%}">News</a>
                    </div>
                    {% if config.extra.header_cta -%}
                    <div class="py-6">
                        <a href="{{ config.base_url ~ config.extra.header_cta_href | safe }}" class="-mx-3 block rounded-lg px-3 py-2.5 text-base leading-7 text-gray-900 hover:bg-gray-50">
                            {{ config.extra.header_cta }}
                        </a>
                    </div>
                    {%- endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<div id="float-nav" class="over z-30 fixed w-full top-0 -translate-y-full bg-white transition-all duration-700">
    <nav class=" mx-auto flex relative container-width items-center justify-between  pt-6 pb-6 px-6 md:px-16 lg:px-24 xl:px-24" aria-label="Global">
        <a href="{{ config.base_url }}" class="-m-1.5 lg:-ml-9 p-1.5">
            <span class="sr-only">{{ config.extra.site_logo_sr }}</span>
            {% if config.extra.site_logo_alt %}
                <img class="h-8 w-auto" src="{{ config.base_url ~ config.extra.site_logo }}" alt="{{ config.extra.site_logo_alt }}">
            {% else %}
                <img class="h-8 w-auto" src="{{ config.base_url ~ config.extra.site_logo }}" alt="{{ config.extra.site_logo_alt }}">
            {% endif %}
        </a>
        <div class="flex lg:hidden">
            <button type="button" popovertarget="global-menu" class="text-primary -m-2.5 text-base font-semibold inline-flex items-center justify-center rounded-md p-2.5 ">
                <span class="sr-only">Open main menu</span>
                <!--svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg-->
                MENU
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            {% set root = get_section(path="_index.md") %}
            {% if root.pages %}
            {% for nav_page in root.pages %}
            {#- Filter pages not meant for main nav -#}
            {% if nav_page.extra.main_nav %}
            <a href="{% if current_url != nav_page.permalink %}{{ nav_page.permalink | safe }}{% else%}#{% endif %}" class="text-base leading-7 font-semibold  {% if current_url == nav_page.permalink %}text-accent{% else%}text-primary{% endif %} hover:text-accent">
                {{ nav_page.title }}
            </a>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if config.extra.header_cta -%}
            <a href="{{ config.base_url ~ config.extra.header_cta_href }}" class="text-sm leading-6 text-gray-900">
                {{ config.extra.header_cta }}
            </a>
            {%- endif %}
            <a href="{{config.base_url}}/news" class="text-base leading-7 font-semibold text-white hover:text-primary">News</a>
        </div>
    </nav>
</div>
<script>
  
     var lastScrollTop;
    
       window.onscroll = function() {dropDownMenu();};
    function dropDownMenu(){
        
        if (window.scrollY > document.getElementsByClassName("hero")[0].offsetHeight - 82){
            document.getElementById("float-nav").classList.remove("-translate-y-full");
            //document.getElementById("float-nav").classList.add("translate-y-0");
            console.log("remove");
        }else{
            document.getElementById("float-nav").classList.add("-translate-y-full");
            //document.getElementById("float-nav").classList.remove("translate-y-0");
        }
        
        
    }
</script>

