
{% block content %}
{% if page %}
    {% if page.extra.full_hero %} 
        {% set full="h-screen items-center " %}
        {% set m_cont="mt-[100vh]" %}
        {% set header_size="text-xl lg:text-3xl" %}
    {% else %}
        {% set full="h-[260px] items-end"%}
        {% set m_cont="mt-[260px]"%}
        {% set header_size="text-xl" %}
    {% endif %}
    {% if page.extra.subtitle %}
        {% set subtitle=page.extra.subtitle %}
    {% endif %}
    {% if page.extra.sub_nav %}
        {% set sub_nav=page.extra.sub_nav %}
    {% endif %}
    
    
    {% if page.extra.hide_title %}
        {% set hide_title=page.extra.hide_title %}
    {% else %}
        {% set hide_title=false %}
    {% endif %}
{% elif section %}
    {% if section.extra.full_hero %} 
        {% set full="h-screen items-center"%}
        {% set m_cont="mt-[100vh]"%}
        {% set header_size="text-xl lg:text-3xl" %}
    {% else %}
        {% set full="h-[260px] items-end"%}
        {% set m_cont="mt-[260px]"%}
        {% set header_size="text-xl" %}
    {% endif %}
    {% if section.extra.hide_title %}
        {% set hide_title=section.extra.hide_title %}
    {% else %}
        {% set hide_title=false %}
        
    {% endif %}
    {% if section.extra.subtitle %}
        {% set subtitle=section.extra.subtitle %}
    {% endif %}
    {% if section.extra.sub_nav %}
        {% set sub_nav=section.extra.sub_nav %}
    {% endif %}
    
{% endif %}
<div
    class="hero text-white flex fixed w-full -z-10 top-0 {{full}} "
    style="background: url({{  config.base_url ~ config.extra.hero_image }});background-size:cover;">
    {% if hide_title==false %}
    <h1 class="{{header_size}} !font-normal  pt-8 pb-8 px-6 md:px-16 lg:px-24 xl:px-24 m-0">{% if page %}{{ page.title | linebreaksbr | safe  }}{% elif section %}{{ section.title | linebreaksbr | safe  }}{% endif %}</h1>
    {% endif %}
    {% if sub_nav %}
        <div class="ml-auto pt-8 pb-8 px-6 md:px-16 lg:px-24 xl:px-24 flex gap-x-12 flex-wrap justify-end">
        {% for item in sub_nav %}
       <a  class="text-base whitespace-nowrap font-semibold " href="#{{ item | slugify}}">{{ item }}</a>
        {% endfor %}
        </div>
    {% endif %}
    {% if subtitle %}
    <h3 class="text-small lg:text-base leading-tight font-semibold absolute bottom-8 max-w-[960px] pt-8 pb-8 px-6 md:px-16 lg:px-24 xl:px-24">{{subtitle}}</h3>
        {% endif %}
    
</div>
<main class="{{m_cont}} bg-white z-20 text-base top-0 relative"> 
    <!--div class="-mt-4"-->
        {% if page %}
        {{ page.content | safe }}
        {% elif section %}
        {# The global /_index.md uses this template #}
        {{ section.content | safe }}
        {% if section.extra.bloglist %}
        {% if section.extra.bloglist== true %}
        {% for post in section.pages %}
        <div><h1><a href="{{ post.permalink }}">{{ post.title }}</a></h1><div>{{post.date}}</div></div>
        {% endfor %}
        {% endif %}
        {% endif %}
        {% else %}
        Unspecified content type
        {% endif %}
        {% endblock %}
    <!--/div -->
</main>
<script>
    //remove empty <p></p> generated by Zola
     var paragraphs = document.querySelectorAll("main > p");
       for (var i = 0; i < paragraphs.length; i++) {
        if (paragraphs[i].innerHTML==""){
            paragraphs[i].remove();
        }
        
    }
</script>