<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js"></script>
{% set id= now() | date(format="%6f") %}<!-- generates random id to avoid conflict with multiple carousels on the same page-->
    
<div class="flex flex-wrap {% if color %}text-{{color}}{% endif %} {% if bg %}bg-{{bg}}{% endif %} relative" style="background-color: #FFD469;">
    
    {% if title %}
    <h3 class="uppercase text-sm block font-bold mb-12 w-full">{{title}}</h3>
    {% endif %}

    <div class="text-xl leading-tight w-full pl-0 lg:pr-8 mb-10 lg:mb-0">
        {% set data = load_data(path=data_path) %}
        <div class="embla overflow-hidden" id="carousel-{{id}}">
            <div class="embla__container flex">
                {% set data = load_data(path=data_path) %}
 
                {%- for news in data.news %}
                {% if news.pin %}
                {% if news.pin == "true" %}
                <!-- flex-[0_0_100%] flex-[0_0_50%] flex-[0_0_33.333%] for number of sizes per swipe -->
                <div class="embla__slide min-w-0 flex-[0_0_100%] lg:flex-[0_0_33.333%] px-2" style="display: flex; flex-direction: column; height: 280px;">
                    <div class="p-8 border rounded-md bg-white flex-1" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                        <div style="flex-grow: 1; display: flex; flex-direction: column;">
                            <div class="text-sm mb-2 inline-block flex justify-between">
                                <div>
                                    {% if news.by %}
                                    <span class="font-bold mb-2 inline-block mr-2">{{news.by}}</span>
                                    {% endif %}
                                    {{news.date}}
                                </div>
                            </div>
                            {% if news.title %}
                            <div class="text-base font-semibold mb-4">{{news.title}}</div>
                            {% endif %}
                            <div class="text-sm leading-tight text-content" style="height: 120px; overflow: hidden;">
                                {{news.anews | markdown | safe }}
                            </div>
                        </div>
                        <div class="dots" style="text-align: center; font-size: 10px; line-height: 0.8; margin-top: auto;">
                            • • •
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            {% if more_news %}
                <div class="flex items-center justify-center space-x-4 w-full">
                    <div class="embla__button--prev rounded-full left-arrow cursor-pointer w-12 h-12 flex items-center justify-center hover:bg-grey">
                        <!-- Left arrow SVG content -->
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_143_35)">
                                <path d="M6.73617 3.16308L8.67303 5.09993L3.88964 9.88332L8.71504 14.7087L6.76215 16.6616L-0.000114671 9.89936L6.73617 3.16308Z" fill="#071A2D"/>
                                <path d="M1.97073 11.3483L18.4191 11.2805L18.4304 8.53007L1.98207 8.5979L1.97073 11.3483Z" fill="#071A2D"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_143_35">
                                <rect width="14" height="14" fill="white" transform="translate(9.89941 19.7988) rotate(-135)"/>
                                </clipPath>
                                </defs>
                                </svg>
                                
                        </svg>
                    </div>

                    <h3 class="uppercase text-sm font-bold" style="line-height: 5;">
                        {{ "[View all news](@/" ~ more_news ~ ")" | markdown | safe }}
                    </h3>

                    <div class="embla__button--next rounded-full right-arrow cursor-pointer w-12 h-12 flex items-center justify-center hover:bg-grey">
                        <!-- Right arrow SVG content -->
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.0627 16.6355L11.1259 14.6987L15.9093 9.91526L11.0838 5.08986L13.0367 3.13696L19.799 9.89922L13.0627 16.6355Z" fill="#071A2D"/>
                                <path d="M17.8282 8.45024L1.37982 8.51807L1.36848 11.2685L17.8168 11.2007L17.8282 8.45024Z" fill="#071A2D"/>
                                </svg>
                        </svg>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
const emblaNode_{{id}} = document.querySelector('#carousel-{{id}}');
const prevBtn_{{id}} = emblaNode_{{id}}.querySelector('.embla__button--prev');
const nextBtn_{{id}} = emblaNode_{{id}}.querySelector('.embla__button--next');
const options_{{id}} = { loop: true, slidesToScroll: 1 };
const plugins_{{id}} = [EmblaCarouselAutoplay({})];
const emblaApi_{{id}} = EmblaCarousel(emblaNode_{{id}}, options_{{id}}, plugins_{{id}});

prevBtn_{{id}}.addEventListener('click', emblaApi_{{id}}.scrollPrev, false);
nextBtn_{{id}}.addEventListener('click', emblaApi_{{id}}.scrollNext, false);
</script>
